<div class="w-full flex items-start justify-center min-h-[128px]">
  <% if control_signals.empty? %>
    <p class="text-sm theme-text-secondary p-8 italic text-center">No control signals registered yet.</p>
  <% else %>
    <ul class="grid sm:grid-cols-2 gap-4">
      <% control_signals.each do |signal| %>
        <li>
          <div class="flex m-4 items-end justify-center">
            <%= render "control_signals/control_toggle_button", signal: signal %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
