<div class="container mx-auto p-6">
  <%= link_to "Back", plant_module_path(@plant_module), class: "btn-secondary mb-4 inline-block" %>
  <h1 class="text-2xl font-bold theme-text-primary mb-4">Edit Control Signal</h1>
  <%= render "form", control_signal: @control_signal, plant_module: @plant_module %>
</div>
