<div class="container mx-auto flex flex-col justify-center items-center gap-12">
  <div class="flex w-full justify-center items-center border-bg-primary p-4">
    <% if user_signed_in? %>
      <% if current_user.plant_modules.any? %>
        <%= render partial: "plant_modules/list", locals: { plant_modules: current_user.plant_modules } %>
      <% end %>
    <% else %>
      <p>Log in with Google to view/create plant modules.</p>
    <% end %>
  </div>
  <div class="flex w-full lg:w-1/3 flex-col justify-center items-center gap-8 border-bg-primary theme-bg-alt rounded-lg p-8">
    <h2 class="text-2xl self-start">Having any issues?</h2>
    <%= button_to sanitize("Help Page"), help_path, method: :get, class: "btn-primary px-4 py-2 rounded-lg text-white text-lg" %>
    <%= link_to "Report via GitHub Issues", "https://github.com/tamu-capstone-gardener/rails-react/issues", 
        class: "btn-secondary px-4 py-2 rounded-lg text-white text-lg inline-block text-center", 
        target: "_blank", rel: "noopener" %>
  </div>
  <div class="flex w-full lg:w-1/3 flex-col justify-center items-center gap-8 border-bg-primary theme-bg-alt rounded-lg p-8">
    <h2 class="text-2xl self-start">Want to contribute?</h2>
    <%= link_to "View GitHub Repos", "https://github.com/orgs/tamu-capstone-gardener/repositories", 
        class: "btn-primary px-4 py-2 rounded-lg text-white text-lg inline-block text-center", 
        target: "_blank", rel: "noopener" %>
  </div>
</div>
