<div data-controller="plant-modal">
  <p class="text-xs theme-text-secondary mb-2">
    Page <%= plants.respond_to?(:current_page) ? plants.current_page : "?" %> of <%= plants.respond_to?(:total_pages) ? plants.total_pages : "?" %>
    (Total: <%= plants.respond_to?(:total_count) ? plants.total_count : plants.size %>)
  </p>

  <% if plants.present? %>
    
    <% plants.each do |plant| %>
      <%= render partial: "plants/card", locals: { plant: plant, selected: false } %>
    <% end %>
  <% end %>

  <div id="plant-info-modal"
      class="fixed inset-0 flex items-center justify-center bg-opacity-50 z-50 hidden"
      data-action="click->plant-modal#closeOnBackgroundClick">

    <div class="theme-bg border-1 border-text-primary shadow rounded-lg p-6 relative w-11/12 max-w-xl max-h-[90vh] overflow-y-auto"
        data-action="click->plant-modal#stopPropagation">

      <button data-action="click->plant-modal#closeModal" class="absolute top-2 right-4 text-red-500 text-2xl hover:text-red-700">
        &times;
      </button>

      <h2 class="text-xl font-bold mb-4 theme-text-primary">Plant Details</h2>

      <!-- Turbo will auto-fetch this on `.src =` -->
      <turbo-frame id="plant-info-content"></turbo-frame>
    </div>
  </div>

</div>
 