<div class="mb-2 flex justify-end gap-2 text-sm">
  <button class="btn-secondary px-2 py-1 rounded"
          data-action="click->sensor-filter#changeRange"
          data-range="1_day">
    Last Day
  </button>
  <button class="btn-secondary px-2 py-1 rounded"
          data-action="click->sensor-filter#changeRange"
          data-range="7_days">
    Last Week
  </button>
  <button class="btn-secondary px-2 py-1 rounded"
          data-action="click->sensor-filter#changeRange"
          data-range="30_days">
    Last Month
  </button>
  <button class="btn-secondary px-2 py-1 rounded"
          data-action="click->sensor-filter#changeRange"
          data-range="365_days">
    Last Year
  </button>
</div>
